.heading {
  padding-left: 1vw;
  font-size: 1.5em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.gridContainer {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2px;
  padding: 10px;
}

.cardOne {
  background-color: white;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.text1Container {
  width: 20vw;
  display: flex;
  height: 7vh;
}

.image1 {
  height: 3.3vh;
  width: 3.3vh;
  margin-top: 0.5vh;
}

.text1 {
  display: flex;
  padding: 1vh 1vw;
  border-radius: 20px;
  background-color: #8f8f9450;
}

.para1 {
  margin-top: 1vh;
  height: fit-content;
}
