.gridContainer {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
  padding: 0 15px;
}

.sideBar {
  grid-row: 1 / span 2;
}

.cardTwo {
  margin-top: 3vh;
  font-size: 1.5em;
  font-weight: 550;
  grid-column: 2 / span 4;
  height: 35vh;
  background-color: #8f8f9408;
}

.welcomeUsername {
  margin-top: 0px;
  margin-left: 1vw;
}

.tagLine {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0px;
  margin-left: 1vw;
}

.cards {
  margin-right: 17vw;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.3vw;
}

.label {
  padding-left: 1vw;
  margin-left: 1vw;
  font-size: 1.1rem;
  color: #8f8f94;
  font-weight: normal;
  background: white;
  border-radius: 6px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.number {
  font-size: 0.8rem;
  color: white;
  font-weight: normal;
  height: 1vw;
  padding-bottom: 0.4vh;
  background-color: #8f8f94;
  width: 0.55vw;
  padding-right: 0.4vw;
  padding-left: 0.4vw;
  padding-top: 0.3vw;
  border-radius: 100%;
}

.cardThree {
  margin-top: 4vh;
  font-size: 1.5em;
  font-weight: 550;
  grid-column: 2 / span 4;
  height: 45vh;
  background-color: #8f8f9408;
}

.canvas {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  background-color: white;
  height: 100%;
  margin: 0 1vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.3vw;
}

.canvasImage {
  margin: 0 2vw;
  height: 100%;
  width: 60%;
}

.keyPoints {
  margin-right: 2vw;
}

.points {
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
}

.textPoint {
  margin-left: 1vw;
}
