.gridContainer {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2px;
  padding: 10px;
}

.sideBar {
  grid-row: 1 / span 2;
}

.form {
  grid-column: 2 / span 5;
  grid-row: 1 / span 2;
}

.uploadResume {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 15vh;
  border-bottom: 1px solid #8f8f9440;
}

.uploadLabel {
  margin: 2vh 2vw;
  display: flex;
}

.icons {
  height: 2.5vh;
  width: 1vw;
}

.text {
  margin: 0 1vw;
}

.uploadButtoncontainer {
  position: absolute;
  right: 3vw;
  margin-top: 2vh;
  margin-left: 15vw;
  display: flex;
}

.uploadButton {
  opacity: 50%;
  cursor: pointer;
  margin-right: 1vw;
  background: rgb(208, 230, 255);
  padding: 1vh 1vw;
  height: 2.8vh;
  border-radius: 7px;
  border: 1px solid rgb(126, 186, 255);
}

.uploadButton:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.icons2 {
  margin-top: 0.6vh;
  height: 3vh;
  width: 1.5vw;
}

.details {
  margin-top: 3vh;
  height: 25vh;
  border-bottom: 1px solid #8f8f9440;
}

.nameCountry {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nameLabel {
  margin-left: 1vw;
  display: flex;
  margin-top: 1vh;
}
.nameCircle {
  margin-right: 2vw;
  font-size: 1.2rem;
  padding: 2.5vh 1.2vh;
  height: 3vh;
  border-radius: 100%;
  color: #fff;
  background-color: #8f8f9470;
}

.nameText {
  font-size: 1.4rem;
  margin-top: 0.5vh;
  margin-bottom: 0vh;
}

.countryText {
  font-size: 1rem;
  margin-top: 5vh;
}

.nameEdit {
  margin-top: 1vh;
  position: absolute;
  right: 3vw;
}
