.gridContainer {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2px;
  padding: 10px;
}
